<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.InvitationMapper">
    <select id="byLimitInvitation" parameterType="map" resultType="int">
        select count(*) from invitation where title like concat('%',#{title},'%')
    </select>

    <select id="byLimitList" parameterType="map" resultType="com.zb.entity.Invitation">
        select * from invitation where title like concat('%',#{title},'%')
        limit #{start},#{row}
    </select>
</mapper>